.download-app-bg {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-light) 100%);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}

.download-shape {
    position: absolute;
    right: -100px;
    bottom: -100px;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: 0;
}