.hero-bg-shape {
    position: absolute;
    top: -100px;
    right: -160px;
    width: 900px;
    height: 850px;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: -1;
}
